# Using EDB Postgres with Jupyter Notebooks

This notebook is a tutorial on how to connect to EDB Postgres from a Jupyter Python notebook. It includes how to run SQL queries from a Jupyter notebook, transfer results to a Dataframe and use Pandas to analyze and graph data.

### Setup Python and Magic
#### Should already be completed as part of the EDB Postgres Hands on Lab
If you completed the rest of the EDB Postgres lab you should have already setup EDB Postgres to work with the Python language. If you are setting up your own system, you need to install the following libraries using pip and apt-get
1. ipython-sql: Postgres Magic commands for Jupyter notebooks
2. libpq-dev: The PostgreSQL C development library
3. psycopg: A DB API 2.0 compliant PostgreSQL driver

#### Load the Jupyter SQL Module
The next cell loads the Jupyter SQL Magic module (ipython-sql) into your system into this Juyter notebook. 
* Click on the next cell and click **Run** from the menu bar above.

In [ ]:
%load_ext sql

If everything loaded correctly you should see a **1** inside the square brackets beside the cell above.

The next cell uses an **%sql** magic command to connect to your **stocks** EDB Postgres database. 

The command below includes all information to connect to any EDB Posgres or PostgreSQL database. Here are the values we are using in this Hands-On Lab:

**Database type:** postgresql

**User ID:** enterprisedb

**Password:** 123qwe123

**URL:** localhost

**Port:** 5444

**Database:** stocks


* Click on the next cell and click **Run** from the menu bar above.

In [ ]:
%sql postgresql://enterprisedb:123qwe123@localhost:5444/stocks

Using the **%sql** magic command it is easy to submit SQL statements and see the results of a query. The next cell retrieves the last name and birthday of ten customers. 
* Run the next cell

In [ ]:
%sql select customerid, lastname, birthdate from customer fetch first 10 rows only

To make longer SQL statements and queries easier to read, use the **%%sql** magic command. You can format SQL across multiple lines. The next cell retrieves the ten youngest customers.

In [ ]:
%%sql 
select customerid, lastname, birthdate 
    from customer 
    order by birthdate desc
    fetch first 10 rows only;

To take advantage of the power of Python and Jupyter together, the next cell imports a number of useful Python libraries. 
* **pandas** provides a powerful in memory table object called a dataframe for manipulating tables of data
* **psycopg2** supports the full Python DB API 2.0 specification and the thread safety
* **sqlalchemy** is a Python SQL toolkit and Object Relational Mapper
* **matplotlib** is a toolkit for graphing a plotting data

In [ ]:
import pandas as pd
import psycopg2
import sqlalchemy
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

To use SQLAlchemy you need to construct a connection string and use that to create a connection to your EDB Postgres stocks database.

In [ ]:
from sqlalchemy import create_engine
# EDB username, password, and database name
ADDRESS = 'localhost' 
PORT = '5444'
USERNAME = 'enterprisedb' 
PASSWORD = '123qwe123' 
DBNAME = 'stocks'
# connection string
edb_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
          .format(username=USERNAME,
           password=PASSWORD,
           ipaddress=ADDRESS,
           port=PORT,
           dbname=DBNAME))
# Create the connection
cnx = create_engine(edb_str)

The next cell is similar to your previous SQL query. Except this time we don't include the **ORDER BY** clause and we omit the **FETCH FIRST 10 ROWS ONLY** clause. The results of the whole table including the customerid, lastname and birthdate are loaded into a Pandas Dataframe named **df**. The last line of the next cell displays the first 10 rows of that dataframe.

In [ ]:
sql = \
'''
select customerid, lastname, birthdate 
    from customer 
'''
df = pd.read_sql_query(sql, cnx) 
df.head(10)

This new Dataframe **df** presists across cells. So you can sort the values in the dataframe for display to also show the 10 youngest customers. The next cell sorts by birthdate in descending order and returns the first 10 rows. Notice that we didn't have to go back to EDB Postgres for the data.

df.sort_values(by=['birthdate'], ascending=False).head(10)

The cell above didn't change the contents or order of the data in the dataframe. It simply returned a set of order results. Run the next cell to see that **df** has not changed.

In [ ]:
df.head(10)

To change the **df** dataframe you need to replace the current value with the sorted results. Try next cell.

In [ ]:
df = df.sort_values(by=['birthdate'], ascending=False)
df.head(10)

### Exploring the Stock Tables and more Complex Queries
The key to using Jupyter and Python together with EDB Postgres is to use their strengths together. 

While you can simply load an entire table of data into a dataframe and manipulate data through Pandas, the powerful EDB Postgres SQL engine is far more efficient with large data sets. Make sure you do as much work where the data lives before you bring it to Jupyter. You don't want to maipulate GBs of data in Jupyter. Leave that to EDB Postgres. 

Conversely, once you have narrowed down the data you want to work with using SQL, Python and Pandas and libraries like matplotlib are very powerful, and let you explore data using powerful statistical analysis and graphing without having to go back to EDB Postgres and rerun expensive queries. 

Lets explore some of what we can do with the **stocks** data using SQL

#### Available Tables
Run the next cells to see the data available in each table.

In [ ]:
%sql SELECT * FROM STOCK_SYMBOLS FETCH FIRST 3 ROWS ONLY;

In [ ]:
%sql SELECT * FROM STOCK_SYMBOLS FETCH FIRST 3 ROWS ONLY;

In [ ]:
%sql SELECT * FROM CUSTOMER FETCH FIRST 3 ROWS ONLY;

In [ ]:
%sql SELECT * FROM STOCK_HISTORY FETCH FIRST 3 ROWS ONLY;

#### One week of trading history 
Now lets see what the stock transactions took place in the first week of December of 2018 for American Express. You can try replacing the **'AXP'** stock symbol with other symbols from the STOCK_SYMBOLS table and run the next cell again.

In [ ]:
%%sql
SELECT tx_date, custid, price*quantity::money as value FROM STOCK_TRANSACTIONS 
    WHERE SYMBOL = 'AXP'
    AND TX_DATE::date >= '2018-12-01'
    AND TX_DATE::date <= '2018-12-07' 
    ORDER BY value DESC
FETCH FIRST 10 ROWS ONLY;

#### Bought/Sold Amounts of Top 10 stocks
Here is an example of how to find the top ten stocks bought or sold in the database.

In [ ]:
%%sql
WITH BOUGHT(
    SYMBOL,
    AMOUNT
  ) AS
  (
SELECT SYMBOL, SUM(QUANTITY)
  FROM STOCK_TRANSACTIONS
  WHERE QUANTITY > 0
  GROUP BY SYMBOL
  ), SOLD(
    SYMBOL,
    AMOUNT
  ) AS
  (
  SELECT SYMBOL, -SUM(QUANTITY)
  FROM STOCK_TRANSACTIONS
  WHERE QUANTITY < 0
  GROUP BY SYMBOL
  )
  SELECT B.SYMBOL, B.AMOUNT AS BOUGHT, S.AMOUNT AS SOLD
  FROM BOUGHT B, SOLD S
  WHERE B.SYMBOL = S.SYMBOL
  ORDER BY B.AMOUNT DESC
  FETCH FIRST 10 ROWS ONLY;

#### Stocks that Represent at least 3% of the Total Purchases during Week 45
This query returns the top total purchases of stock in week 45 of multiple years, but only those that represent at least 3% of the total. It excludes the Dow Jones Industrial Average since it is an index an not a stock.

In [ ]:
%%sql
WITH WEEK45(
    SYMBOL,
    PURCHASES
  ) AS (
  SELECT SYMBOL, SUM(VOLUME * CLOSE)::money
  FROM STOCK_HISTORY
  WHERE EXTRACT(WEEK FROM TX_DATE::date) =  45 AND SYMBOL <> 'DJIA'
  GROUP BY SYMBOL
), ALL45(TOTAL) AS (
  SELECT SUM(PURCHASES) * .03
  FROM WEEK45
)
  SELECT SYMBOL, PURCHASES
  FROM WEEK45, ALL45
  WHERE PURCHASES > TOTAL
  ORDER BY PURCHASES DESC;

#### Top Trading Day
We can figure out the top day of trading in the STOCK_HISTORY table based on the Dow Jones Industrial Average or DJIA index.

In [ ]:
%%sql
WITH MAX_VOLUME(AMOUNT) AS (
  SELECT MAX(VOLUME) FROM STOCK_HISTORY
    WHERE SYMBOL = 'DJIA'
)
  SELECT TX_DATE FROM STOCK_HISTORY, MAX_VOLUME M
    WHERE SYMBOL = 'DJIA' AND VOLUME = M.AMOUNT
FETCH FIRST 10 ROWS ONLY;

#### Compound Complex SQL
EDB Postgres supports very complex and powerful SQL queries. The next example returns a list of the top ten customers in the US state of Ohio during the busiest trading day on record. The SQL takes advantage of subqueries to first determine the customers in Ohio, the top trading day and then calculates their total buy to find the to ten customers.

In [ ]:
%%sql
WITH MAX_VOLUME(AMOUNT) AS (
  SELECT MAX(VOLUME) FROM STOCK_HISTORY
    WHERE SYMBOL = 'DJIA'
),
HIGHDATE(TX_DATE) AS (
  SELECT TX_DATE FROM STOCK_HISTORY, MAX_VOLUME M
    WHERE SYMBOL = 'DJIA' AND VOLUME = M.AMOUNT
),
CUSTOMERS_IN_OHIO(CUSTID) AS (
  SELECT C.CUSTOMERID FROM CUSTOMER C 
    WHERE C.STATE = 'OH'
),
TOTAL_BUY(CUSTID,TOTAL) AS (
  SELECT C.CUSTID, SUM(SH.QUANTITY * SH.PRICE) 
    FROM CUSTOMERS_IN_OHIO C, STOCK_TRANSACTIONS SH, HIGHDATE HD
  WHERE SH.CUSTID = C.CUSTID AND
        SH.TX_DATE = HD.TX_DATE AND 
        QUANTITY > 0 
  GROUP BY C.CUSTID
)
  SELECT LASTNAME, CUSTOMERID, T.TOTAL::money
    FROM CUSTOMER C, TOTAL_BUY T
    WHERE C.CUSTOMERID = T.CUSTID
    ORDER BY TOTAL DESC
    FETCH FIRST 10 ROWS ONLY;

### Putting together SQL, Pandas and Matplot
Now that you understand the basics of running SQL, retrieving SQL into a dataframe and even running more complex SQL you can put it all together.

Lets start by retrieving the high and low price of a single stock for 2018 and loading it into a Pandas Dataframe.

In [ ]:
sql = \
'''
SELECT SYMBOL, TX_DATE, EXTRACT(DOY FROM TX_DATE::date) AS DAYOYEAR, HIGH, LOW, OPEN, CLOSE
  FROM STOCK_HISTORY
  WHERE SYMBOL IN ('AAPL' ) 
  AND EXTRACT(YEAR FROM TX_DATE::date) = 2018
'''
df = pd.read_sql_query(sql, cnx) 
df.tail(30)

Now lets graph the high and low prices on each day of the last 60 days of 2018.

In [ ]:
days = 60
txdate= df['dayoyear'].tail(days)
high = df['high'].tail(days)
low = df['low'].tail(days)

plt.xlabel("Day", fontsize=12);
plt.ylabel("High and Low Price", fontsize=12);
plt.suptitle("High and Low Price", fontsize=20);
plt.plot(txdate, high, 'r');
plt.plot(txdate, low, 'b');
plt.show();

You can also use the powerful statistical methods in Pandas. The next cell adds an additional column with the rolling 30 day average price.

In [ ]:
df["SMA30"] = df['close'].rolling(window=30).mean()
df.tail(10)

Now lets compare the closing price of each day against the 30 day rolling average

In [ ]:
days = 60
txdate= df['dayoyear'].tail(days)
close = df['close'].tail(days)
SMA30 = df['SMA30'].tail(days)

plt.xlabel("Day", fontsize=12);
plt.ylabel("Close vs 30 Day MA", fontsize=12);
plt.suptitle("Close and 30 Day MA", fontsize=20);
plt.plot(txdate, close, 'r');
plt.plot(txdate, SMA30, 'b');
plt.show();

Check out https://pandas.pydata.org/ to see everything you can do with the Pandas libraries. Using Jupyter, Python, Pandas and EDB Postgres is a powerful combination of capabilities that gives you a great start in analysing your data like a Data Scientist.

Make sure you check out more Hands-On Labs at www.ibm.com/demos.